<%- include('include/_header') %>
<div class="nav-add-user">
  <a href="/add-user">Add user</a>
</div>
<table class="content">
  <%- include('include/_content') %>
</table>
<%- include('include/_footer') %>
