<% for (var i=0; i<users.length; i++) {%>
  <tr>
    <td>
      <div class="container">
        <div class="profile"><p><%= users[i].user_name.substring(0,1).toUpperCase()%></p> </div>
        <div class="name"><%= users[i].user_name%></div>
        <div class="icons">
          <ul>
            <li>
              <a href="/edit?id=<%= users[i]._id%>"
                ><span class="material-icons"> edit </span></a
              >
            </li>
            <li>
              <a class="delete" data-id=<%= users[i]._id%>><span class="material-icons"> delete </span></a>
            </li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
  <%}%>

