<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
   function validateForm() {
    var x = document.forms["form-add"]["first_name"].value;
    var a = document.forms["form-add"]["last_name"].value;
    var b = document.forms["form-add"]["user_name"].value;
    var c = document.forms["form-add"]["email"].value;
    var d = document.forms["form-add"]["pwd"].value;
    if ( x == "" ||x == null, a == "" ||a == null, b == "" ||b == null, c == "" ||c == null,d == "" ||d == null) {
      alert("Content cannot be empty");
      return false;
    }else{
        alert("Created the new user sucessfully!");
    }
  }

$("#edit").submit(function(event){
    event.preventDefault();

    var unindexed_array = $(this).serializeArray();
    var data = {}

    $.map(unindexed_array, function(n, i){
        data[n['name']] = n['value']
    })


    var request = {
        "url" : `http://localhost:3000//http://3.6.93.159:7883/machstatz/get_all_users/${data.id}`,
        "method" : "PUT",
        "data" : data
    }

    $.ajax(request).done(function(response){
        alert("Data Updated Successfully!");
    })

})

if(window.location.pathname == "/"){
    $ondelete = $("table.content tbody tr td div.container div.icons ul li a.delete");
    $ondelete.click(function(){
        var id = $(this).attr("data-id")

        var request = {
            "url" : `http://localhost:3000/http://3.6.93.159:7883/machstatz/delete_existing_user/${id}`,
            "method" : "DELETE"
        }

        if(confirm("Do you really want to delete this record?")){
            $.ajax(request).done(function(response){
                alert("Data Deleted Successfully!");
                location.reload();
            })
        }

    })
}


</script>
</body>
</html>